@font-face {
   font-family: 'brandon-grotesque-light-italic-58a8a4ccb88be';
   src: url('brandon-grotesque-light-italic-58a8a4ccb88be/font.woff');
}
@font-face {
   font-family: 'georgia';
   src: url('georgia/font.ttf');
}
